<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Agregar Articulo</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100%;
            min-height: 100hv;
            overflow-x: hidden;
        }
    </style>
</head>


<body>

<section id="header">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark "
         style="background-color: #e3f2fd;">

        <a class="navbar-brand" href="/"> <img
                th:src="@{/images/pass_fail_160px.png}"
                class="d-inline-block align-text-top" width="30" height="30"
                alt="icon"> INICIO
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link"
                                               th:href="@{/logout}">Logout <img
                        th:src="@{/images/sign_out_32px.png}"
                        class="d-inline-block align-text-top" width="25" height="25"
                        alt="icon"></a></li>
            </ul>
        </div>
    </nav>
</section>

<br>

<div class="container">


    <h3 align="center">
        <img th:src="@{/images/profile_200px.png}"
             class="d-inline-block align-text-top" width="40" height="40"
             alt="icon"> Agregar Articulo
    </h3>
    <hr>

    <p class="h4 mb-4">Agregar Articulo</p>

    <form action="#" th:action="@{/articulos/save}"
          th:object="${articulo}" method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{codigoA}"/>
        <input type="text" th:field="*{nombre_articulo}" class="form-control mb-2 col-4"  placeholder="Nombre Articulo">
        <input type="text" th:field="*{stock_actual}" class="form-control mb-2 col-4"  placeholder="Stock Actual">
        <input type="text" th:field="*{stock_minimo}" class="form-control mb-2 col-4" placeholder="Stock Minimo">
        <input type="text" th:field="*{stock_maximo}" class="form-control mb-2 col-4"  placeholder="Stock Maximo">
        <input type="text" th:field="*{clasificacion}" class="form-control mb-2 col-4"  placeholder="Clasificacion">
        <input type="text" th:field="*{costo_promedio}" class="form-control mb-2 col-4"  placeholder="Costo Promedio">
        <select th:field="*{bodegas.codigoB}" class="form-control mb-2 col-4">
            <option value="">Selecciona una bodega</option>
            <th:block th:each="bodega : ${listaBodegas}">
                <option th:value="${bodega.codigo_bodega}" th:text="${bodega.codigo_bodega + ' - ' + bodega.nombre}"></option>
            </th:block>
        </select>




        <button type="submit" class="btn btn-success mb-2 col-2">Add</button>
    </form>
    <a th:href="@{/articulos/list}" class="btn btn-warning mb-2 col-2">Back
    </a>
</div>
</body>
</html>